<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ProgPodcaster", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "Title" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Podcasts", "All", "Podcast")</li>
                    <li>@Html.ActionLink("Authors", "Authors", "Author")</li>
                    @if (Session["Email"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                        <li>@Html.ActionLink("Register", "Register", "Auth")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(Session["FullName"].ToString(), "Index", "Profile")</li>
                        <li>@Html.ActionLink("LogOut", "Logout", "Auth")</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <!-- FOOTER -->
    <footer class="container" style="display:flex; justify-content:space-between;">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
