@model podcast_web.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "Authors";
}

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div style="display: flex; flex-direction:column;">

            @if (Model.Authors.Count == 0)
            {
                <p>No podcasts yet!</p>
            }

            else
            {
                foreach (var a in Model.Authors)
                {
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="@a.AuthorImg" alt="Card image cap">
                            <h2 class="card-title" style="margin:0;">@a.Name  @a.Surname</h2>
                            <p class="card-text">@a.AuthorJob</p>
                            @*<h6>Podcasts: </h6>
                            @foreach (var p in a.Podcasts)
                            {
                                <p>@p.Title</p>
                            }*@
                            <a href="/Author/Detail/@a.AuthorID" class="btn btn-primary">Detail</a>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-text">@Model.Companies.First(c => c.CompanyID == a.CompanyID).Name</h4>
                        </div>

                    </div>
                    <hr class="my-4">

                }
            }

        </div>
    </div>
</div>