@model podcast_web.ViewModels.PodcastsViewModel

@{
    ViewBag.Title = "PodcastList";
}

<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>

<div class="row mt-5">
    <div class="">
        <button type="button" style="margin-left: 10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Podcast
        </button>
    </div>
</div>

<div class="row mt-8">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>DATE</th>
                    <th>SOURCE</th>
                    <th>ACTION</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Podcasts.Count == 0)
                {
                <tr>
                    <td>No podcasts yet!</td>
                </tr>
                }
                else
                {
                    foreach (var p in Model.Podcasts)
                    {
            <tr>
                <td>@p.PodcastId</td>
                <td>@p.Title</td>
                <td>@p.Description</td>
                <td>@p.Date</td>
                <td>@p.Source</td>
                <td> 
                <a href="/ManagePodcasts/EditPodcast/@p.PodcastId" class="btn btn-primary">Detail</a>
                <a style="margin-left:4px;" href="/ManagePodcasts/DeletePodcast/@p.PodcastId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>





<div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Podcast</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("PodcastList", "ManagePodcasts", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>
                            Podcast Title:
                            <input type="text" class="form-control" name="title">
                        </label>
                    </div>
                        <div class="form-group">
                            <label>
                                Podcast Description:
                                <input type="text" class="form-control" name="description">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Podcast Date:
                                <input class="form-control" data-date-format="yyyy/mm/dd" id="datepicker_add" name="date">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Podcast Source:
                                <input type="text" class="form-control" name="source">
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

